* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
background-color: #64006d;
color: #F5F7FF;
font-family: Arial, sans-serif;
min-height: 100vh;
display: flex;
flex-direction: column;
}

.cabecalho {
background-color: #000000;
padding: 20px;
text-align: center;
}

.cabecalho a {
color: #B8C7FF;
text-decoration: none;
font-size: 18px;
}

.titulo {
font-size: 40px;
color: #4a089b;
}

.conteudo {
text-align: center;
padding: 30px;
flex: 1;
}

.subtitulo {
margin-top: 50px;
margin-bottom: 100px;
font-size: 25px;
color: #DDE3FF;
}

.tema_memes,
.tema_sonoros,
.tema_animais {
width: 220px;
padding: 20px;
margin: 10px;
border-radius: 30px;
background-color: #1B2545;
color: #F5F7FF;
text-decoration: none;
font-size: 20px;
transition: 0.2s;
}

.tema_memes:hover,
.tema_sonoros:hover,
.tema_animais:hover {
background-color: #5146C7;
transform: scale(1.05);
}

.destaque {
width: 100%;
max-width: 700px;
height: 400px;
margin: 0 auto 30px;
background-color: #151B33;
border-radius: 15px;
}

#imagem {
width: 100%;
height: 100%;
object-fit: contain;
}

.Sons {
display: grid;
grid-template-columns: repeat(3, 200px);
justify-content: center;
gap: 15px;
max-width: 700px;
margin: auto;
}

.tecla {
width: 200px;
min-height: 70px;
padding: 15px;
border: none;
border-radius: 10px;
background-color: #1B2545;
color: #F5F7FF;
font-size: 17px;
cursor: pointer;
transition: 0.2s;
}

.tecla:hover {
background-color: #5146C7;
transform: scale(1.05);
}

.tecla:active {
transform: scale(0.95);
}

.rodape {
padding: 20px;
text-align: center;
background-color: #151B33;
color: #8F9BC4;
}
